.banner {
    background: var(--cor-fonte-azul-degrade);
    color: var(--branco);
    text-align: center;
    padding: 3.0rem 2rem;
   
}

.banner__titulo {
    font-size: 18px;
    font-weight: 700;
    
}
.banner__texto {
    font-size: 16px;
    font-weight: 500;
    margin: 1rem 0;
}
.banner__pesquisa {
    background-color: transparent;
    border: 1px solid var(--branco);
    color: var(--branco);
    border-radius: 30px;
    padding: 0.5rem;
    width: 100%;
}

.banner__pesquisa::placeholder {
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: var(--branco);
    background: url("../img/Lupa.svg") no-repeat;
    background-position: 1em;
}

@media screen and (min-width: 1024px) {

.banner__titulo {
    font-size: 36px;
}

.banner__texto {
    font-size: 16px;
}

.banner__pesquisa{
    font-size: 16px;
    width: 50%;
}

.banner__pesquisa::placeholder {
    background-position: 5em;
}

}
